#page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

label[data-error]:after {
    white-space: nowrap;
    display: inline !important;
    top: 0px !important;
    right: 0px;
}
label[data-error] {
    width: 95%;
}

.input-field {
    margin-top: 30px;
}

.input-field label.invalid {
    transform: translateY(-140%);
    font-size: 0.8rem;
}

.select-wrapper+label {
    top: 14px;
    font-size: 1rem;
}

.select-wrapper+label:after, input[type=checkbox]+label:after {
    position: absolute;
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    font-size: 0.8rem;
}

.trend .legend .ct-series-a, 
.trend .ct-series-a .ct-point, 
.trend .ct-series-a .ct-line {
    color: #F44336;
    stroke: #F44336;
}

.trend .legend .ct-series-b, 
.trend .ct-series-b .ct-point, 
.trend .ct-series-b .ct-line {
    color: #4CAF50;
    stroke: #4CAF50;
}

.trend .legend .ct-series-c, 
.trend .ct-series-c .ct-point, 
.trend .ct-series-c .ct-line {
    color: #ff9800;
    stroke: #ff9800;
}

.legend .ct-series-a, 
.ct-series-a .ct-point, 
.ct-series-a .ct-line {
    color: #d70206;
    stroke: #d70206;
}

.legend .ct-series-b, 
.ct-series-b .ct-point, 
.ct-series-b .ct-line {
    color: #f05b4f;
    stroke: #f05b4f;
}

.legend .ct-series-c, 
.ct-series-c .ct-point, 
.ct-series-c .ct-line {
    color: #f4c63d;
    stroke: #f4c63d;
}

.legend i {
    margin: 10px;
}
